<section class="bg-white dark:bg-gray-900">
  <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16">
    <div
      class="bg-gray-50 dark:bg-gray-800 border border-gray-200 dark:border-gray-700 rounded-lg p-8 md:p-12 mb-8"
    >
      <a
        href="#"
        class="bg-blue-100 text-blue-800 text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded-md dark:bg-gray-700 dark:text-blue-400 mb-2"
      >
        {{ country?.cca3 }}
      </a>
      <h1
        class="text-gray-900 dark:text-white text-3xl md:text-5xl font-extrabold mb-2"
      >
        {{ country?.name?.common }}
      </h1>
      <p class="text-lg font-normal text-gray-500 dark:text-gray-400 mb-6">
        {{ country?.capital }}
      </p>
    </div>
    <div class="grid md:grid-cols-2 gap-8">
      <div
        class="bg-gray-50 dark:bg-gray-800 border border-gray-200 dark:border-gray-700 rounded-lg p-8 md:p-12 h-auto"
      >
        <h2 class="text-gray-900 dark:text-white text-3xl font-extrabold mb-2">
          Bandera
        </h2>
        <img [src]="country?.flags?.png" [alt]="country?.flags?.alt" />
      </div>
      <div
        class="bg-gray-50 dark:bg-gray-800 border border-gray-200 dark:border-gray-700 rounded-lg p-8 md:p-12"
      >
        <h2 class="text-gray-900 dark:text-white text-3xl font-extrabold mb-2">
          Más información
        </h2>
        <ul class="text-lg font-normal text-gray-500 dark:text-gray-400 mb-4">
          <li>
            <span class="font-semibold">Región: </span>{{ country?.region }}
          </li>
          <li>
            <span class="font-semibold">Sub-Región: </span
            >{{ country?.subregion }}
          </li>
          <li>
            <span class="font-semibold">SPoblación: </span
            >{{ country?.population | number }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
